<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Task List</title>
</head>
<body>
<h1>Task List</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Project</th>
        <th>assignedUser</th>
    </tr>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.id}"></td>
        <td th:text="${task.title}"></td>
        <td th:text="${task.status}"></td>
        <td th:text="${task.priority}"></td>
        <td th:text="${task.project.name}"></td>
        <td th:text="${task.assignedUser.name}"></td>
    </tr>
</table>
</body>
</html>
